#container {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 56px);
    flex-direction: row;
}

#side {
    display: flex;
    flex: 25%;
    background-color: white;
    justify-content: center;
    padding-top: 35px;
}

.calendar {
    padding-bottom: 35px;
}

#main {
    display: flex;
    flex: 75%;
    background-color: #e1e6ed;
    align-items: center;
    justify-content: center;
}

